
<%= form_for message, remote: true do |f| %>
    <div class="divNotification">
      <div class="leftSide">
        <img class="n_icon" src="" width="59" height="59" />
      </div>
      <div class="rightSide">
          <div class="what" id="messageNotification" style="color: white">

          </div>
      </div>
    </div>
    <%= f.hidden_field :key, value: "", class: "f-key" %>
    <%= f.submit "send", class: "btn btn-primary", id: "sendSignal", style: "display: none", data: {send: "message"} %>
<% end %>

<script>
    function displayMessage (evt) {
        var s = evt.data.split(";");
        for (var i = 0; i < s.length; i++) {
            if (s[i].length < 1) continue;
            $(".f-key").val(s[i]);
            $("#sendSignal").submit();
        }
    }

    if (window.addEventListener) {
      // For standards-compliant web browsers
        window.addEventListener("message", displayMessage, false);
    }
    else {
        window.attachEvent("onmessage", displayMessage);
    }
</script>
